.eq_p_1{
    position: ABSOLUTE;
    right: 42px;
    top: 100px;
}

.eq_p_title{
    color: white;
    font-size: 25px;
    font-family: n_bold;
    text-align: right;
    margin-right: 55px;
    margin-top: 45px;
}

.eq_search{
    width: 261px;
    height: 36px;
    border-radius: 18px;
    background-color: #030712;
    color: white;
    background-image: url(./assets/search.png);
    background-repeat: no-repeat;
    background-position: 10px;
    border: 0;
    text-align: right;
}

.eq_search_cont{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 55px;
    margin-top: 105px;
    gap: 12px;
}

.supp_box{
    width: 307px;
    height: 144px;
    background-color: #101828;
    border-radius: 31px;
    position: relative;
}

.supp_box_title{
     color: white;
    font-size: 15px;
    font-family: n_bold;
    text-align: right;
    margin-right: 30px;
    padding-top: 15px;
}

.supp_tag{
    width: 72px;
    height: 21px;
    border-radius: 11px;
    background-color: #8f2ce34a;
    color: #8F2CE3;
    font-size: 12px;
    font-family: n_r;
    text-align: center;
    line-height: 21px;
    position: absolute;
    right: 28px;
    margin-top: 7px;
}

.eq_select_1{
    position: absolute;
    right: 5px;
    margin-top: 30px;
}

.supp_box_text{
    color: #ffffff54;
    font-size: 12px;
    font-family: n_r;
    text-align: right;
    margin-right: 33px;
}

.supp_box_text_top{
    margin-top: 36px;
}

.supp_box_cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    gap: 35px;
}

.eq_cont_btn{
    width: 430px;
    height: 48px;
    border-radius: 24px;
    background-color: #8F2CE3;
    color: white;
    font-size: 15px;
    font-family: n_bold;
    text-align: center;
    line-height: 48px;
    position: absolute;
    right: 55px;
    margin-top: 50px;
}

.eq_tb_in{
    color: white;
    font-size: 12px;
    width: 250px;
    font-family: n_r;
    text-align: right;
}

.qe_tb_header{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 115px;
    margin-right: 55px;
}

.qe_tb_header_in{
    display: flex;
    flex-direction: row-reverse;
    /* margin-right: 55px; */
    border-top: 1px solid #ffffff38;
    border-bottom: 1px solid #ffffff38;
    padding-right: 25px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 25px;
    margin-left: 25px;
    align-items: center;
}


.qe_tb_header_in_3{
        display: flex;
    flex-direction: row-reverse;
    /* margin-right: 55px; */
    /* border-top: 1px solid #ffffff38; */
    /* border-bottom: 1px solid #ffffff38; */
    padding-right: 25px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 25px;
    margin-left: 25px;
    align-items: center;
}
.eq_tb_input{
    width: 92px;
    height: 36px;
    border-radius: 18px;
    border:1px solid white;
    color:white;
    background-color: #283654;
}

.eq_search_tb {
    width: 215px;
    height: 36px;
    border-radius: 18px;
    background-color: #030712;
    color: white;
    background-image: url(/src/assets/search.png);
    background-repeat: no-repeat;
    background-position: 10px;
    border: 0;
    text-align: right;
}

.eq_tb_in_s{
    width: 130px;
}

.del_eq{
    margin-right: 10px;
}

.eq_add_item{
    width: 162px;
    height: 48px;
    border-radius: 24px;
    background-color: #8F2CE3;
    color: white;
    font-size: 15px;
    font-family: n_bold;
    text-align: center;
    direction: rtl;
    line-height: 48px;
    position: absolute;
    right: 50px;
    margin-top: 21px;
}

.eq_date_title{
      color: white;
    font-size: 15px;
    font-family: n_bold;
    margin-bottom: 10px;
}

.eq_textarea{
    width: 599px;
    height: 69px;
    border-radius: 14px;
    background-color: #101828;
    border: 0;
    color:white;
    direction: rtl;
}

.eq_date{
    width: 244px;
    height: 28px;
    background-color: #101828;
    color:white;
    border-radius: 14px;
    border: 0;
}


.eq_date_cont{
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    margin-top: 204px;
    margin-right: 50px;
    gap: 20px;
}

.eq_back_btn{
     width: 160px;
    height: 48px;
    background-color: #1C273E;
    color: white;
    font-size: 15px;
    font-family: n_bold;
    border-radius: 24px;
    text-align: center;
    line-height: 48px;
}

.eq_back_btn_cont{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 50px;
    margin-top: 32px;
    gap: 25px;
}

.eq_cont_btn_2{
    width: 430px;
    height: 48px;
    border-radius: 24px;
    background-color: #8F2CE3;
    color: white;
    font-size: 15px;
    font-family: n_bold;
    text-align: center;
    line-height: 48px;
}

.order_eq_box{
    width: 214px;
    height: 214px;
    border-radius: 20px;
    border:1px solid #46557E
}

.order_eq_box_title{
    color: white;
    font-size: 15px;
    font-family: n_bold;
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
}

.order_eq_box_text{
    color: white;
    font-size: 15px;
    font-family: n_r;
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
}

.order_eq_box_text_bold{
    color: white;
    font-size: 20px;
    font-family: n_bold;
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
}

.order_eq_box_text_s{
    color: #ffffff61;
    font-size: 12px;
    font-family: n_r;
    text-align: right;
    margin-right: 20px;
}

.order_eq_cont{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 50px;
    margin-top: 115px;
    margin-bottom: 210px;
    gap: 35px;
}
