body{
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: n_r;
    src: url('./fonts/NotoSansHebrew-Regular.ttf');
}

@font-face {
    font-family: n_bold;
    src: url('./fonts/NotoSansHebrew-Black.ttf');
}

@font-face {
    font-family: n_black;
    src: url('./fonts/NotoSansHebrew-Black.ttf');
}

