.new_user_info_cont_2 {
    width: 801px;
    height: 146px;
    background-color: #283654;
    border-radius: 18px;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
}

.new_user_info_cont_3{
    width: 801px;
    height: 311px;
    background-color: #283654;
    border-radius: 18px;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
}

.settings_by_role_cont_1{
    width: 484px;
    height: 36px;
    background-color: #46557e73;
    border-radius: 18px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    position: relative;
    top: 43px;
    right: -110px;
}