.worker_info_cont {
    width: 801px;
    height: 220px;
    background-color: #283654;
    border-radius: 18px;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
}

.worker_info_cont_2{
    height: 311px;
}

.new_worker_docs_needed{
    width: 390px;
    height: 211px;
    border-radius: 18px;
    background-color: #283654;
    position: relative;
}

.new_worker_docs_needed_cont{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: center;
    margin-top: 35px;
}

.new_worker_popup_cont {
    width: 887px;
    height: auto;
    background-color: #101828;
    position: absolute;
    top: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 5;
    padding-bottom: 20px;
    min-height: 1135px;
}

.add_doc_btn{
    width: 98px;
    height: 25px;
    border-radius: 24px;
    background-color: #8f2ce375;
    border: 1px solid #8F2CE3;
    color: white;
    font-size: 12px;
    font-family: n_r;
    text-align: center;
    line-height: 25px;
    direction: rtl;
    cursor: pointer;
    overflow: hidden;
}

.tachmoshet_info_type_row_date_s{
    width: 127px!important;
    margin-top: 0!important;
}

.tachmoshet_info_type_cont_main_row_h {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tachmoshet_info_type_title_l{
    width: 105px !important;
    margin-bottom: 20px;
}

.table_header_cont_worker{
    position: relative;
    top:45px
}

.slide_settings_middle_w_selected{
    margin-left: 17px;
}

.slide_settings_cont_w_selected{
    background-color: #8F2CE3!important;
}

.slide_settings_cont_w{
    background-color: #707070;
    width: 34px;
    height: 17px;
    border-radius: 9px;
    z-index: 1;
}

.add_equipment_btn{
    width: 126px;
    height: 28px;
    border-radius: 18px;
    border: 1px solid #46557E;
    color: white;
    font-size: 12px;
    font-family: n_bold;
    text-align: center;
    line-height: 28px;
    direction: rtl;
    position: absolute;
    right: 245px;
    margin-top: 10px;
    cursor: pointer;
}

.eq_popup_cont{
    width: 849px;
    height: 372px;
    border-radius: 26px;
    background-color: #283654;
    position: absolute;
    bottom: 377px;
    margin-left: 37px;
    box-shadow: 1px 1px 10px #111c31ba;
    z-index: 5;
}

.eq_popup_title_s{
    font-size: 12px;
    font-family: n_r;
    color:white;
    width: 100px;
}

.eq_popup_title_cont{
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    margin-right: 50px;
    margin-top: 25px;
    gap:20px;
    align-items: center;
}

.eq_popup_title_s_long{
    width: 226px;
}

.input_eq{
    height: 36px;
    background-color: #111C31;
    border-radius: 24px;
    border: 1px solid #46557E;
    width: 100px;
    text-align: right;
    color: white;
}

.input_eq_long{
    width: 226px;
}

.add_eq_btn_in{
    width: 126px;
    height: 36px;
    border-radius: 24px;
    border: 1px solid #8F2CE3;
    color: white;
    font-size: 12px;
    font-family: n_bold;
    background-color: #2f104a4a;
    direction: rtl;
    text-align: center;
    line-height: 36px;
    position: absolute;
    right: 45px;
    margin-top: 20px;
    cursor: pointer;
}

.sign_cont_eq{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.sign_cont_eq_title {
    color: white;
    font-size: 12px;
    font-family: n_r;
    text-align: right;
    margin-top: 15px;
    direction: rtl;
}

.add_eq_final_btn{
    width: 314px;
    height: 36px;
    border-radius: 18px;
    background-color: #8F2CE3;
    color: white;
    font-size: 12px;
    font-family: n_bold;
    text-align: center;
    line-height: 36px;
    margin: 0 auto;
    margin-top: 20px;
}

.sign_popup_cont_eq {
    width: 321px;
    height: 215px;
    background-color: #101828;
    border-radius: 13px;
    box-shadow: 1px 1px 10px #FFFFFF;
    position: absolute;
    margin-top: -670px;
    z-index: 55;
    margin-left: 300px;
}

.eq_popup_title_cont_main{
    height: 140px;
    overflow: auto;
}

.eq_sign_img{
    margin: 0 auto;
    width: 90%;
}

.user_img_cont{
    width: 82px;
    height: 82px;
    border-radius: 50px;
    background-color: #46567E;
    color: white;
    font-size: 12px;
    font-family: n_r;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    right: 40px;
    top: 30px;
    cursor: pointer;
}

.salery_type{
    width: 65px;
    height: 25px;
    color:white;
    font-size: 12px;
    font-family: n_r;
    border: 1px solid #46557E;
    border-radius: 13px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

.salery_type_cont{
    display: flex;
    gap:4px
}

.salery_type_cont_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;
}

.salery_worker_input{
    margin-top:8px!important;
}

.salery_type_selected{
    border:1px solid white;
}

.site_worker_cont{
    width: 200px;
    height: 33px;
    background-color: #283654;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    font-family: n_bold;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 4px;
}

.site_worker_cont_main{
    width: 202px;
    height: auto;
    background-color: #101828;
    border-radius: 13px;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 73px;
    /* margin-top: 90px; */
    position: absolute;
    top: 0;
    z-index: 55;
}

.site_worker_cont_main_title{
    color: #ffffff7a;
    font-size: 12px;
    font-family: n_r;
    text-align: right;
}

.arrow_up{
    position: absolute;
    top: 15px;
    cursor: pointer;
}

.sn_cont{
    width: 94px;
    height: 25px;
    border-radius: 13px;
    border: 1px solid #46557E;
    color: white;
    font-size: 12px;
    font-family: n_r;
    text-align: center;
    line-height: 25px;
    position: relative;
}

.close_sn{
    position: absolute;
    left: 4px;
    top: 10px;
    width: 7px;
    cursor: pointer;
}

.sn_cont_main{
    display: flex;
    position: absolute;
    right: 360px;
    flex-wrap: wrap;
    top: 111px;
    gap: 6px;
    flex-direction: row-reverse;
}

.gender_cont{
    width: 130px;
    height: 25px;
    border-radius: 13px;
    background-color: #101828;
    color: white;
    font-size: 12px;
    font-family: n_r;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 63px;
}

.gender{
    width: 65px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}
.gender_selected{
    width: 65px;
    height: 25px;
    border-radius: 13px;
    background-color: white;
    color:#111C31
}
.close_icon_eq {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.tachmoshet_info_type_row_sign_l{
    width: 160px!important;
}