.user_b_text_main_tachmoshet{
    margin-top: 20px;
    color: white;
    font-size: 20px;
    font-family: n_r;
}

.tachmoshet_info_cont{
    width: 654px;
    height: 302px;
    background-color: #283654;
    border-radius: 18px;
    position: relative;
        margin: 0 auto;
    margin-top: 65px;
}

.tachmoshet_info_type_cont_main{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    top: 50px;
    margin-right: 50px;
    gap: 15px;
}

.tachmoshet_info_type_title{
    color: white;
    font-size: 12px;
    font-family: n_r;
    text-align: right;
    width: 60px;
    direction: rtl;
}

.tachmoshet_info_type_title_w{
    width: 58px;
}

.tachmoshet_info_type_cont{
    width: 188px;
    height: 25px;
    background-color: #101828;
    border-radius: 13px;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
}

.tachmoshet_info_type_row{
    width: 63px;
    height: 25px;
    border-radius: 13px;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    font-family: n_bold;
    color:#ffffff7a
}

.tachmoshet_info_type_row_selected{
    background-color: white;
    color:#283654;
}

.tachmoshet_info_type_row_date{
    text-align: center;
    font-family: n_r;
    color: white;
    font-size: 12px;
    line-height: 25px;
    display: block;
    margin-top: 14px;
    border: 0;
}

.tachmoshet_info_type_cont_main_row{
    display: flex;
    flex-direction: row-reverse;
}
.select_tachmosher {
    width: 85px;
    height: 36px;
    border-radius: 18px;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-family: 'n_r';
    line-height: 36px;
    font-size: 12px;
    cursor: pointer;
}

.tachmoshet_info_type_cont_main_row_select{
    margin-top: 30px;
    margin-bottom: 15px;
}

.select_tachmosher_l{
    width: 244px;
}

.tachmoshet_info_comments{
    width: 435px;
    height: 82px;
    border-radius: 13px;
    background-color: #101828;
    border: 0;
    color:white;
    direction:rtl;
}

.tachmoshet_info_type_cont_main_extra {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    top: 50px;
    margin-right: 50px;
    gap: 15px;
}
                       
.tachmoshet_info_docs{
    width: 435px;
    height: 82px;
    border-radius: 13px;
    border:1px solid #707070;
    cursor: pointer;
}

.tachmoshet_info_type_title_e{
    width: 100px;
    text-align: right;
}

.tachmoshet_info_type_cont_main_row_2{
    margin-top: 20px;
}

.tachmoshet_info_cont_sign{
    height: 144px;
}

.tachmoshet_info_type_cont_main_sign{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    top: 50px;
    margin-right: 50px;
    gap: 15px;
}

.upload_icon{
    margin: 0 auto;
    display: block;
    margin-top: 15px;
}

.upload_icon_text{
    color: #ffffff6e;
    font-size: 12px;
    font-family: n_r;
    text-align: center;
    margin-top: 9px;
    cursor: pointer;
}

.save_t_btn{
    width: 186px;
    height: 39px;
    border-radius: 20px;
    background-color: #902FEC;
    color: white;
    font-size: 15px;
    font-family: n_bold;
    text-align: center;
    line-height: 39px;
    cursor: pointer;
}

.cancel_t_btn{
    width: 186px;
    height: 39px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    font-family: n_bold;
    text-align: center;
    line-height: 39px;
    cursor: pointer;
}

.save_t_btn_cont{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 22px;
    margin-top: 45px;
}

.kaliber_popup_cont{
    width: 85px;
    height: 122px;
    border-radius: 18px;
    border: 1px solid white;
    position: absolute;
    right: 95px;
    margin-top: -4px;
    background-color: #283654;
    text-align: right;
    z-index: 5;
}

.kaliber_popup_opt{
    color: white;
    font-size: 12px;
    font-family: n_r;
    margin-top: 11px;
    margin-right: 11px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
}

.worker_popup_opt{
    color: white;
    font-size: 12px;
    font-family: n_r;
    margin-top: 16px;
    margin-right: 11px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
}


.show_worker_popup_cont{
    width: 244px;
    height: 190px;
    border-radius: 18px;
    border: 1px solid white;
    position: absolute;
    left: 137px;
    margin-top: -4px;
    background-color: #283654;
    text-align: right;
    z-index: 5;
}

.sign_popup_cont_t{
    margin-right: 214px;
}
    

.file_input{
    display: none;
}

.files_to_upload{
    color: white;
    font-size: 12px;
    font-family: n_r;
    margin-top: 58px;
    margin-left: 50px;
}

.tachmoshet_info_type_title_long{
    width: 130px;
    text-align: center;
}